head
  title Mestaruusliiga statistics
  link(rel='stylesheet', href='/styles/main.css')
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
