extends ../layout/root

block content
  h1 Mestaruusliiga statistics
  h4 Men
  ul
    li
      a(href='/statistics/regular/men/') Regular season
    li
      a(href='/statistics/playoffs/men/') Playoffs
    li
      a(href='/statistics/qualifiers/men/') Qualifiers
  
  h4 Women
  ul
    li
      a(href='/statistics/regular/women/') Regular season
    li
      a(href='/statistics/playoffs/women/') Playoffs
    li
      a(href='/statistics/qualifiers/women/') Qualifiers