extends ../layout/root

block content
  .livescore-board
    table
      tbody
        each team in ['home', 'guest']
          tr(class=team)
            td(class='team-name')= self[team].name
            td(class='rounds-won')= self[team].roundsWon
            - for (var x = 0; x < 6; x++)
              if self.home.roundsWon + self.guest.roundsWon >= x
                td(class='round-score')= self[team].scores[x]
