extends ../layout/root

block content

  - var roundsPlayed = self.home.roundsWon + self.guest.roundsWon
  - var maxRounds = (self.home.roundsWon >= 3 || self.guest.roundsWon >= 3) ? roundsPlayed : 5;

  .livescore
    .livescore-wrapper
      .livescore-names.column
        .team-name.home= self.home.name
        .team-name.guest= self.guest.name

      .livescore-divider.column

      .livescore-rounds.column
        .rounds.home= self.home.roundsWon
        .rounds.guest= self.guest.roundsWon

      .livescore-divider.column

      .livescore-scores.column
        - for (let x = 0; (x <= roundsPlayed) && (x < maxRounds); x++)
          .column(class={ active: x === roundsPlayed })
            - const diff = self.home.scores[x] - self.guest.scores[x];
            - const abs = diff < 0 ? -diff : diff
            .score.home(class={
              roundWon: (self.home.scores[x] >= 25 && abs >= 2)
            })= self.home.scores[x]
            .score.guest(class={
              roundWon: (self.guest.scores[x] >= 25 && abs >= 2)
            })= self.guest.scores[x]
