extends ../layout/root

block content
  table.matches
    tbody
      tr.header
        th PÄIVÄMÄÄRÄ
        th KLO
        th KOTI
        th VIERAS
        th TULOS
        th PAIKKA
      each match in self.matches
        tr
          td=match.meta.date.format('DD.MM.YYYY')
          td=(match.meta.date.isAfter(self.moment()) ? match.meta.date.format('HH:mm') : '')
          td(class={ bold: (match.home === self.name) })=match.home
          td(class={ bold: (match.guest === self.name) })=match.guest
          td=match.rounds
          td=match.meta.place
