table
  tbody(class="matches")
    each match in self.matches
      tr
        td=match.home
        td=match.guest
        td=match.meta.date.format('DD.MM.YYYY [klo] HH:mm')
        td=match.meta.place
