$border-color: grey;

.livescore {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;

    .column {
      display: inline-block;
    }

    .livescore-wrapper {
      display: inline-block;
      background-color: rgba(125,125,125,0.5);
    }

    .livescore-names {
      padding-left: 3px;
    }

    .livescore-scores > div {
      padding: 0 5px;
    }

    .livescore-divider {
      width: 10px;
      background-color: red;
    }
}
